.head{
   
    background-size: cover;
    height: 436px;
    color:white
}

.content {
    padding-top: 140px;
    padding-left: 15px;
}

.title{
   font-size: 3rem; 
   font-weight: 800;
   padding-bottom: 0.3rem;
}

.banner_btn{
    display: flex;
   
}

.btn {
    margin-right: 0.2rem;
    padding: 5px 5px;
    cursor: pointer;
    background-color: rgb(51,51,51,.5);
    color: white;
    border-radius: 5px;
    outline: none;
    border: none;
}

.btn:hover{
    background-color: white;
    color: black;
    
}

.description {
    width: 45rem;
    font-size: 0.9rem;
    line-height: 1.3;
    padding-top: 1.8rem;
    max-width: 446px;
}

.fade{
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37,37,37,.61), #111);
}